<app-header 
  [title]="title"
  [lineText]="'Listen the bestselling music.'"
  [isSignedUp]="isSignedUp"
  (userLoggedOut)="userHasLoggedOut()"
  (signal)="openDialog()"
  >
</app-header>

<signup-form [shouldDialogOpen]="dialog" (dialogWasClosed)="dialogClosed()"></signup-form>

<div id="contents">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section class="list">
    <app-search></app-search>
    <app-contents></app-contents>
  </section>
</div>


<!-- <app-footer></app-footer> -->